.navigation{
    
    &__checkbox{
        display: none;
    }

    &__button{
        
        height:7rem;
        width:7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        background-color: #fff;
        border-radius: 50%;
        box-shadow:0 1rem 3rem rgba($color-black,.1);
        @include respond(tab-port){
            top: 2.5rem;
            right: 3rem;
        }
    }

    &__background{
        width: 6rem;
        height:6rem;
        border-radius: 50%;
        position:fixed;
        top:6.5rem;
        right:6.5rem;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        z-index: 1000;

        transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
        @include respond(tab-port){
            top: 3rem;
            right: 3.5rem;
        }
    }

    &__nav{
        height: 100vh;
        position:fixed;
        top: 0;
        left: -50%;
        z-index:1500;
        opacity: 0;
        width:0;
        transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    }

    &__list{
        @include centre-absolute;
        list-style: none;
        text-align: center;
        width:100%;
    }

    &__item{
        margin:1rem;
    }

    &__link{

        span{
            margin-right: 1.5rem;
            display:inline-block;
            transition: transform 0.6s;
        }

        &:link,&:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color:$color-white;
            text-decoration: none;
            text-transform: uppercase;
            
            background-image: linear-gradient(125deg,transparent 0%,transparent 50%,white 50%);
            padding: 1rem 2rem;
            background-size: 230%;
            transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
        }

        &:hover,&:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
        
    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
        
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 200%;
    }

    &__icon{
        position:relative;
        margin-top: 3.5rem;
        margin-left: 2rem;


        &,&::before,&::after{
            display: inline-block;
            height:2px;
            width:3rem;
            background-color:$color-grey-dark-3;
            transition: all 0.2s;
            
        }

        &::after,&::before{
            content: '';
            position: absolute;
            left: 0;
        }
        &::after{
            top:.8rem;
        }
        &::before{
            top:-.8rem;
        }
    }
    
    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top:  1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before{
        transform: rotate(-135deg);
        top: 0;
        
    }
    &__checkbox:checked + &__button &__icon::after{
        transform: rotate(135deg);
        top:0;
    }
}