*,
*::after,
*::before
{
    margin:0;
    padding: 0;
    box-sizing:inherit;
}
html
{
    //this defines what 1 rem is
    //62.5% is equals to 10px of 16px
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tab-land){
        font-size:56.25%;   // 1rem=9px;
    }

    @include respond(tab-port){
        font-size:50%;   //1rem=8px;
    }
    @include respond(phone){
        font-size:50%;   //1rem=8px;
    }
    
    @include respond(big-desktop){
        font-size:75%;     //1rem=12px;
    }
}
body
{
    box-sizing:border-box;  
    padding:3rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    ::-webkit-scrollbar{
        display: none;

    }
    
    @include respond(tab-port){
        padding:0;
    }

    // background-color: #000;
    // filter: invert(1) hue-rotate(210deg); for dark mode
}

